.App {
  
  /* border:1px solid black ; */
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}

.search-container{
  /* border:1px solid black ; */
  position: relative;
  margin-bottom: 50px;
  
}

.small-container{
  /* text-align: center; */
  /* align-items: center; */
  /* border:1px solid black ; */
  /* display: ; */
  /* text-align: center; */
  /* margin-left:700px; */
  
  margin: 0 auto;
  display: flex;
  flex-flow:column;
  width:500px;
}

.box {
  /* border:1px solid black ; */
  /* align-items: center; */
  /* width:auto ; */
  /* margin:0 auto; */
  /* padding: 0px 0px; */
  display: inline-block;
  /* justify-content:center; */

}
.checkbox{
  float:left;
}
.todo{
  /* border:1px solid black ; */
  float: left;
  padding: 0 5px;
  /* text-decoration: line-through; */
}

.box button{
  /* display:flex; */
  float: right;
  /* padding:10px */
  /* font-size: 3px; */
  
}
.box input{

}

.hello{
  text-decoration: line-through; 
}




