.App {
  text-align: center;
  border:1px solid black ;
  /* display: flex; */
  justify-content: center;
}

.box {
  border:1px solid black ;
}

.small-container button{
  
}
.do{
  display:flex;
  /* padding: 0 auto; */
  border:1px solid black ;
  /* position: relative; */
  /* margin:0 auto; */
  /* text-align: center; */

}
.wrap{
  /* display:flex; */
  /* justify-content: center; */
  border:1px solid black ;
  margin:0 auto;
  
}
.checkbox{
  float: left;
}
